a
{
	text-decoration: none;
}
body
{
	font-size: 16px;
	font-family: 'Varela',sans-serif;
}
header
{
	position: relative;
}
.division_superior
{
	overflow: hidden;
}
.division_superior header figure
{
	display: inline-block;
	float: right;
	margin: 0;
	width: 150px;
}
.division_superior header figure img
{
	width: 100%;
	-webkit-transition: 1s all ease;
}
.division_superior header figure img:hover
{
	-webkit-transition: 1s all ease;
	-webkit-transform: scale(1.1,1.1);
}
.division_inferior
{
	background-color: #e8e9ea;
	padding: 0.5em;
	position: relative;
}
.division_inferior .fila_busqueda
{
	overflow: hidden;
}
.division_inferior .fila_busqueda h2
{
	margin: 0;
	display: inline-block;
	color: #2e005e;
}
.division_inferior .fila_busqueda div
{
	display: inline-block;
	float: right;
	padding-top: 4px;
	position: relative;
}
.division_inferior .fila_busqueda div a
{
	position: absolute;
	left: 5px;
	top: 8px;
}
.division_inferior .fila_busqueda div input
{
	padding-left: 1.5em;
}